@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --icore-bg-900: #070c12;
  --icore-bg-800: #0f1419;
  --icore-bg-700: #1f242e;

  --icore-border-100: #19212a;
  --icore-border-200: #3b3b3f;

  --icore-text-100: #ffffff;
  --icore-text-200: #d1d5db;
  --icore-text-300: #6b7280;

  --icore-accent-500: #3b82f6;
  --icore-accent-600: #2563eb;

  --icore-success-500: #22c55e;
}

@theme {
  --color-background: var(--icore-bg-900);
  --color-background-soft: var(--icore-bg-800);
  --color-background-mute: var(--icore-bg-700);

  --color-border: var(--icore-border-100);
  --color-border-hover: var(--icore-border-200);

  --color-heading: var(--icore-text-100);
  --color-text: var(--icore-text-200);
  --color-text-secondary: var(--icore-text-300);

  --color-accent: var(--icore-accent-500);
  --color-accent-hover: var(--icore-accent-600);

  --color-success: var(--icore-success-500);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'JetBrains Mono', monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
