@import './base.css';

/* Root reset */
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* App layout */
#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

button {
  cursor: pointer;
}
